    <table>
        <thead>
            <tr>
                <th width="20%">ID</th>
                <th width="40%">Translation</th>
                <th width="40%">Additional Information</th>
            </tr>
        </thead>
        <tbody>
            {% for id, message in messages %}
            <tr data-id="{{ id }}">
                <td>
                    <a class="jms-translation-anchor" title="{{ id }}"><abbr>{{ id|truncate(20) }}</abbr></a>
                </td>
                <td>
                    <textarea class="span6 trans"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea>
                </td>
                <td>
                    {% if alternativeMessages[id] is defined %}
                        <h6>Alternative Translations</h6>
                        {% for locale, altMessage in alternativeMessages[id] %}
                        <p>
                            <strong>{{ locale }}:</strong> <pre>{{ altMessage.localeString }}</pre>
                        </p>
                        {% endfor %}
                    {% endif %}
                    
                    {% if message.sources|length > 0 %}
                        <h6>Sources</h6>
                        <ul>
                        {% for source in message.sources %}
                            <li>{{ source }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if message.desc is not empty 
                            and message.localeString != message.desc
                            and id != message.desc
                            and (alternativeMessages[id][sourceLanguage] is not defined
                                 or alternativeMessages[id][sourceLanguage].localeString != message.desc) %}
                        <h6>Description</h6>
                        <p>{{ message.desc }}</p>
                    {% endif %}
                    <h6>Note</h6>
                    <textarea class="span6 note" name="note" id="note" rows="3" autocomplete="off">{{ message.note }}</textarea>
                    {#<textarea class="span6 note">#}
                    {#</textarea>#}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No messages found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
